pkgbase = sajilo-bin
	pkgdesc = Nepali calendar and daily essentials in your tray: Bikram Sambat, festivals, forex, weather, news
	pkgver = 0.1.28
	pkgrel = 1
	url = https://sajilo.fyi
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = libayatana-appindicator
	optdepends = gst-plugins-good: FM radio (MP3 and HLS streams)
	optdepends = gst-plugins-bad: FM radio (HLS streams)
	optdepends = gst-libav: FM radio (AAC streams)
	provides = sajilo
	conflicts = sajilo
	source = Sajilo_0.1.28_amd64.deb::https://github.com/adarshaacharya/sajilo/releases/download/v0.1.28/Sajilo_0.1.28_amd64.deb
	sha256sums = c207764da9ed1e071a678e24129c54b84ade706b9449c1f342cc5de17ec22e70

pkgname = sajilo-bin
